[Audio]
fx_vol=0.05
ost_vol=0.05
master_vol=1

[Debug]
log_enable=true
console_enable=true
skip_to=main_menu
skip_to_parameters=[goldsilk, 8] ; wip

; entity_select | none | main_menu
; all keys below are still WIP.

[Graphics] 
crt_enable=true
theme_path=Themes\default.cfg
entities_show_on_menu=true
splashtexts_show=true

